body {
  padding: 50px;
  text-align: center;
  font-family: monospace;
}

.text-center {
  text-align: center;
}

.healthbar {
  width: 80%;
  height: 40px;
  background-color: rgba(228, 233, 237, 1);
  margin: auto;
  transition: width 500ms;
}

.controls, .log {
  margin-top: 30px;
  text-align: center;
  padding: 10px;
}

.turn {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

.log ul {
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
}

.log ul li {
  margin: 5px;
}

.log ul .player-turn {
  color: white;
  background-color: rgba(107, 185, 240, 1);
}

.log ul .monster-turn {
  color: white;
  background-color: rgba(217, 30, 24, 1);
}

button {
  font-size: 20px;
  padding: 12px;
  margin: 10px;
}

#start-game {
  background-color: rgba(123, 239, 178, 0.5);
}

#start-game:hover {
  background-color: rgba(123, 239, 178, 1);
}

#attack {
  background-color: rgba(236, 100, 75, 0.5);
}

#attack:hover {
  background-color: rgba(236, 100, 75, 1);
}

#special-attack {
  background-color: rgba(242, 38, 19, 0.5);
}

#special-attack:hover {
  background-color: rgba(242, 38, 19, 1);
}

#heal {
  background-color: rgba(123, 239, 178, 0.5);
}

#heal:hover {
  background-color: rgba(123, 239, 178, 1);
}

#give-up {
  background-color: rgba(236, 240, 241, 0.7);
}

#give-up:hover {
  background-color: rgba(236, 240, 241, 1);
}
