<!DOCTYPE html>
<html>
<head>
  <title>Vuejs</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="../000-lib/vue.js"></script>
</head>
<body>
  <div class="container">
    <div id="app">
      <div class="title">
        <h1>Dynamic CSS styling</h1>
      </div>

      <h2>Click on the first square</h2>
      <div class="square" @click="attachRed = !attachRed" :class="divClasses"></div>
      <div class="square" :class="divClasses"></div>

      <h2>Pick a class</h2>
      <div>
        <!-- v-model binds the value to the property taken as argument -->
        <input type="text" placeholder="Pick a color: blue, red, green or yellow" v-model="color">
      </div>
      <!-- :class can take a property name or an array with several types in it -->
      <div class="square" :class="color"></div>
      <!-- With the array, the second square have muliple behaviours -->
      <!-- {red: attachRed} means pick red if the attachRed property is true -->
      <div class="square":class="[color, {red: attachRed}]"></div>

      <h2>Style components without classes</h2>
      <div>
        <!-- v-model binds the value to the property taken as argument -->
        <input type="text" placeholder="Pick the squares' color" v-model="otherColor">
        <input type="text" placeholder="Pick the 2nd square' width" v-model="width">
      </div>
      <!-- Vuejs prefix all style in :style to work with browsers supporting Vuejs -->
      <div class="square" :style="{ backgroundColor: otherColor }"></div>
      <div class="square" :style="myStyle"></div>
      <!-- Using array to pass a JS object on the fly -->
      <div class="square" :style="[myStyle, {height: width + 'px'}]"></div>
    </div>
  </div>
  <footer>Made with ❤️ and 💻 by Rémi Mercier.</footer>

  <script>
    new Vue({
      el: '#app',
      data: {
        attachRed: false,
        color: "",
        otherColor: "",
        width: null
      },
      computed: {
        divClasses: function() {
          return {
            red: this.attachRed,
            blue: !this.attachRed
          }
        },
        myStyle: function() {
          return {
            backgroundColor: this.otherColor,
            width: this.width + 'px'
          }
        }
      }
    });
  </script>
</body>
</html>
