<!DOCTYPE html>
<html>
<head>
  <title>Vuejs</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="../000-lib/vue.js"></script>
</head>
<body>
  <div class="container">

    <div class="title">
      <h1>Diving into the VueJS instance</h1>
    </div>

    <div id="app1">
      <h2>{{ title }}</h2>
      <!-- ref is a key accessible through $refs that capture the content of the tag -->
      <button @click="show" ref="myButton">Show paragraph</button>
      <p v-if="showParagraph" class="output">This is not always visible</p>
      <hr>
    </div>

    <!-- You can have multiple Vue instances in a page depending on the business logic -->
    <div id="app2">
      <h2>{{ title }}</h2>
      <button @click="revealImage">Show me the GIF</button>
      <span>or</span>
      <button @click="changeFirstInstanceTitle">Change the title of the first instance above</button>
      <div class="margin-top">
        <img v-if="showImage" :src="imageUrl">
      </div>
    </div>
  </div>

  <footer>Made with ❤️ and 💻 by Rémi Mercier.</footer>

  <script src="app.js"></script>
</body>
</html>
